<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="securityHelper" class="com.jcatalog.grailsflow.demo.security.GrailsflowSecurityHelper" scope="singleton"/>
  <bean id="usersProvider" class="com.jcatalog.grailsflow.demo.security.GrailsflowUsersProvider" scope="singleton"/>
  <bean id="rolesProvider" class="com.jcatalog.grailsflow.demo.security.GrailsflowRolesProvider" scope="singleton"/>

</beans>